@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Saharsh Software Limited<br />
    London<br />
    <abbr title="Phone">P:</abbr>
    07740839357
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sharath.gaurishetti@hotmail.co.uk">Support@example.com</a>
   
</address>